// ---------- Кольори сайту ---------- /

$color-site-dark: #000;
$color-site-light: #fff;
$color-site-accent: #2196f3;

$color-bg-primary: #fff;
$color-bg-secondary: #f5f4fa;
$color-bg-footer: #2f303a;
$color-bg-hero: #c4c4c4;

$color-text-main: #757575;
$color-text-secondary: #fff;
$color-text-title: #212121;
$color-text-contacts: rgba(255, 255, 255, 0.6);

$color-icon: #afb1b8;

// ---------- Шрифти сайту ---------- /

$font-main: 'Roboto', sans-serif;
$font-logo: 'Raleway', sans-serif;
